<div class="searchmodule clearfix" data-effect="slide-right">
    <form action="{% url 'estate:filter-property' %}" method="get">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="country">Region</label>
            <select id="country" name="region" class="show-menu-arrow selectpicker">
                <option value="">Select Region</option>
                <option value="Greater Accra">Greater Accra</option>
                <option value="Ashanti">Ashanti</option>
                <option value="Eastern">Eastern</option>
                <option value="Western">Western</option>
                <option value="Northen">Northen</option>
            </select>
        </div>
{#        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">#}
{#            <label for="location">Town</label>#}
{#            <select id="location" class="show-menu-arrow selectpicker">#}
{#                <option value="miami">Miami</option>#}
{#                <option value="antalya">Antalya</option>#}
{#                <option value="bodrum">Bodrum</option>#}
{#                <option value="hanue">Hanue</option>#}
{#                <option value="aksa">Aksa</option>#}
{#                <option value="amsterdam">Amsterdam</option>#}
{#            </select>#}
{#        </div>#}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="status">Acquisition Type</label>
            <select id="status" class="show-menu-arrow selectpicker">
                <option value="">-------</option>
                <option value="rent">On Rent</option>
                <option value="sale">On Sale</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="type">Category</label>
            <select id="type" name="category" class="show-menu-arrow selectpicker">
                <option value="">-------</option>
                <option value="Apartment">Apartment</option>
                <option value="Flat">Flat</option>
                <option value="Self-Contained">Self-Contained</option>
                <option value="Hostel">Hostel</option>

            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="bedrooms">Bedrooms</label>
            <input type="number" name="number_of_bedrooms" placeholder="Enter number" id="bedrooms" class="form-control">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="baths">Baths</label>
            <input type="number" name="number_of_bathrooms" placeholder="Enter number" id="baths" class="form-control">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="min_price">Min Price</label>
            <input type="number" name="min_price" placeholder="Enter amt in GHS" id="min_price" class="form-control">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="max_price">Max Price</label>
            <input type="number" name="max_price" placeholder="Enter amt in GHS" id="max_price" class="form-control">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="from_the">From the</label>
            <select id="from_the" name="listed_by" class="show-menu-arrow selectpicker">
                <option value="">-------</option>
                <option value="Agent">Agents</option>
                <option value="Agencies">Agencies</option>
                <option value="Owner">Property Owner</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type='submit' class="btn btn-inverse btn-block"><i class="fa fa-search"></i>
                SEARCH PROPERTY</button>
        </div>
    </form>
</div><!-- end search module -->