{% load static %}
{% load estate_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - Real Estate</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
{% block css %}

{% endblock %}

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic'
          rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="assets/js/html5shiv.js"></script>
	  <script src="assets/js/respond.min.js"></script>
	<![endif]-->

    <!-- Favicons -->
    <link href="{% static 'assets/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/ico/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/ico/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144x144.png' %}">

</head>

<body>
<div class="toolbar-wrapp">
    <div class="sticky-toolbar">
        <ul>
            <!-- <li id="support"><a title="Support Menu" title="" href="#"><i class="fa fa-link"></i></a></li> -->
            <li id="help"><a href="#ContactFormModal" data-toggle="modal" title="Ask a question"><i
                    class="fa fa-question"></i></a></li>
            {% if not user.is_authenticated %}
             <li><a title="Login account" href="{% url 'user:login_register' %}"><i class="fa fa-lock"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <!--/ sticky-toolbar-->

    <!-- <div class="popup">
        <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="forum.html">Support</a></li>
            <li><a href="ticket.html">Open Ticket</a></li>
        </ul>
    </div> -->
    <!--/ popup-->

    <div class="loginpopup">
        <h3><i class="fa fa-key"></i> Agent Login Form</h3>
        <form id="loginform" method="post" name="loginform" action="login.php">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </div>
            <div class="form-group">
                <a href="login.html" title="" class="btn btn-primary">Sign in</a> <a title="" href="login.html"
                                                                                     class="btn btn-primary">Register</a>
            </div>
        </form>
    </div>
    <!--/ login-popup-->
</div>
<!--/ toolbar-wrapp-->

<div class="modal fade" id="ContactFormModal" tabindex="-1" role="dialog" aria-labelledby="ContactFormModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="big_title">Do you have questions?
                    <small>Dont worry! We're here to help you</small>
                </h3>
            </div>
            <div class="modal-body clearfix">
                <div class="text-left">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="ImageWrapper boxes_img">
                            <img src="demos/01_about.jpg" class="img-responsive" alt="">
                            <div class="ImageOverlayH"></div>
                            <div class="Buttons StyleSc">
                                <span class="WhiteSquare"><a href="#"><i class="fa fa-facebook"></i></a></span>
                                <span class="WhiteSquare"><a href="#"><i class="fa fa-twitter"></i></a></span>
                                <span class="WhiteSquare"><a href="#"><i class="fa fa-google-plus"></i></a></span>
                            </div>
                        </div>
                        <div class="servicetitle">
                            <h3>Contact Details</h3>
                        </div>
                        <ul>
                            <li><i class="fa fa-external-link"></i> www.yoursite.com</li>
                            <li><i class="fa fa-envelope"></i> info@yoursite.com</li>
                            <li><i class="fa fa-phone-square"></i> +90 333 444 55 66</li>
                            <li><i class="fa fa-phone-square"></i> +90 333 444 55 66</li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form id="contact" class="row" action="contact.php" name="contactform" method="post">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">
                            <input type="text" name="subject" id="subject" class="form-control"
                                   placeholder="Subject">
                            <textarea class="form-control" name="comments" id="comments" rows="6"
                                      placeholder="Your Message ..."></textarea>
                            <button type="button" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="topbar clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="callus">
                    <p>
                        <span><i class="fa fa-envelope"></i> info@yoursite.com</span>
                        <span><i class="fa fa-phone-square"></i> +90 333 444 55 66</span>
                    </p>
                </div><!-- end callus-->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="marketing">
                    <!-- <ul class="topflags pull-right">
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="German" title=""
                                href="#"><img alt="de" src="images/flags/de.png"></a></li>
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="Turkish" title=""
                                href="#"><img alt="tr" src="images/flags/tr.png"></a></li>
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="Geek" title=""
                                href="#"><img alt="gr" src="images/flags/gr.png"></a></li>
                    </ul>end flags -->
                    {% if not user.is_authenticated %}
                        <ul class="topmenu pull-right">
                            <li><a href="#"><i class="fa fa-lock"></i> Login</a></li>
                            <li><a href="#"><i class="fa fa-lock"></i> Register</a></li>
                        </ul>
                    {% else %}
                        <ul class="topmenu pull-right">
                            <li><a href="">{{ user.get_full_name }}</a></li>
                            <li><a href="{% url 'user:logout' %}"><i class="fa fa-lock"></i> Logout</a></li>
                        </ul>
                    {% endif %}
                    <!-- topmenu -->
                </div><!-- end marketing -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end topbar -->
<header class="header1">
    <div class="container">
        <div class="row header-row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="logo-wrapper clearfix">
                    <div class="logo">
                        <a href="{% url 'homepage' %}" title="Home">
                            <img src="{% static 'assets/img/logo.png' %}" width="150" height='130' alt="Estate">
                        </a>
                    </div><!-- /.site-name -->
                </div><!-- /.logo-wrapper -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12  pull-right">
                <div class="social clearfix pull-right">
                        <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Twitter" title=""
                                 href="#"><i class="fa fa-twitter"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook" title=""
                             href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Google Plus"
                             title="" href="#"><i class="fa fa-google-plus"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Linkedin" title=""
                             href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Github" title=""
                             href="#"><i class="fa fa-github"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Pinterest" title=""
                             href="#"><i class="fa fa-pinterest"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="RSS" title=""
                             href="#"><i class="fa fa-rss"></i></a></span>
                </div><!-- end social -->
            </div>
        </div><!-- end row -->
        <nav class="navbar navbar-default fhmm" role="navigation">
            <div class="menudrop container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#defaultmenu"
                            class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                </div><!-- end navbar-header -->
                <div id="defaultmenu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- Mega Menu -->
                        <li class="dropdown fhmm-fw {% block home %}{% endblock %}"><a href="{% url 'homepage' %}"><i class="fa fa-home"></i> HOME</a></li>
                        <!-- mega menu -->
                        <!-- list elements -->

                        <!-- list elements -->
                        <!-- end list elements -->
                        <!-- list elements -->
                        <li class="dropdown fhmm {% block pp %}{% endblock %}"><a href="#">POPULAR PROPERTIES</a></li>

                        <!-- standard drop down -->
                        <li class="dropdown fhmm {% block lp %}{% endblock %}"><a href="#" data-toggle="dropdown" class="dropdown-toggle">LIST A PROPERTY <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="{% url 'estate:list-house' %}">House</a></li>
                                <li><a href="{% url 'land:list-land' %}">Lands</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="{% block properties %}{% endblock %}"><a href="{% url 'user:my_properties' %}">MY PROPERTIES</a></li>
                        {% endif %}
                    </ul><!-- end nav navbar-nav -->
                </div><!-- end #navbar-collapse-1 -->
            </div><!-- end dm_container -->
        </nav><!-- end navbar navbar-default fhmm -->
    </div><!-- end container -->
</header><!-- end header -->
{% block banner %}

{% endblock %}

{% block contents %}

{% endblock %}

<section class="message_banner dm-shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="message">
                    <h2>ESTATE PLUS A <strong>Real Estate</strong> Website Template</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="message">
                    <a class="btn btn-primary btn-block btn-lg" href="#"><i class="fa fa-home"></i> VIEW ALL
                        PROPERTIES</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer1">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 first clearfix">
                <div class="widget clearfix">
                    <div class="title">
                        <h3>Site Links</h3>
                        <hr>
                    </div>
                    <ul class="list">
                        <li><a title="" href="#">Support</a></li>
                        <li><a title="" href="#">Get in touch</a></li>
                        <li><a title="" href="#">About us</a></li>
                        <li><a title="" href="#">Terms of use</a></li>
                        <li><a title="" href="#">Copyrights</a></li>
                        <li><a title="" href="#">Join us</a></li>
                    </ul>
                </div>
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix">
                <div class="widget clearfix">
                    <div class="title">
                        <h3><i class="fa fa-home"></i> About Estate+</h3>
                        <hr>
                    </div>
                    <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                        which looks reasonable. The generated Lorem Ipsum is therefore always free.</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-info"></i> read more</a>
                </div>
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix">
                <div class="widget clearfix">
                    <div class="title">
                        <h3>Twitter Stream</h3>
                        <hr>
                    </div>
                    <ul class="tweet">
                        <li><a title="" href="#">@support</a> Latin words, combined with sentence structures, to
                            generate Lorem Ipsum which looks reasonable.
                            <small><a href="#">12 Minutes Ago</a></small>
                        </li>
                        <li><a title="" href="#">@designingmedia</a> To generate Lorem Ipsum which looks reasonable.
                            <small><a href="#">34 Minutes Ago</a></small>
                        </li>
                    </ul>
                </div>
            </div><!-- end col-lg-3 -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 last clearfix">
                <div class="widget clearfix">
                    <div class="title">
                        <h3><i class="fa fa-envelope-o"></i> Newsletter Form</h3>
                        <hr>
                    </div>
                    <p>Latin words, combined with a handful of model sentence structures, to generate.</p>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail2"
                                   placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
                    </form>
                </div>
            </div><!-- end col-lg-4 -->
        </div><!-- row -->
    </div><!-- container -->
</footer><!-- footer1 -->

<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <p><small>Estate+ a real estate template. Copyright 2014</small>
                    Preferred Hosting Partner - <a href="https://misshosting.com/hosting/"
                                                   target="_blank">MissHosting.com,</a> Web Hosting at 1.00€ per month!</p>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="social clearfix pull-right">
                        <span><a data-placement="top" data-toggle="tooltip" data-original-title="Twitter" title=""
                                 href="#"><i class="fa fa-twitter"></i></a></span>
                    <span><a data-placement="top" data-toggle="tooltip" data-original-title="Facebook" title=""
                             href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-placement="top" data-toggle="tooltip" data-original-title="Google Plus" title=""
                             href="#"><i class="fa fa-google-plus"></i></a></span>
                    <span><a data-placement="top" data-toggle="tooltip" data-original-title="Linkedin" title=""
                             href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-placement="top" data-toggle="tooltip" data-original-title="Github" title=""
                             href="#"><i class="fa fa-github"></i></a></span>
                    <span><a data-placement="top" data-toggle="tooltip" data-original-title="Pinterest" title=""
                             href="#"><i class="fa fa-pinterest"></i></a></span>
                    <span><a data-placement="top" data-toggle="tooltip" data-original-title="RSS" title=""
                             href="#"><i class="fa fa-rss"></i></a></span>
                </div><!-- end social -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end copyright -->


<!-- Bootstrap core and JavaScript's
================================================== -->
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/jquery.fitvids.js' %}"></script>
<script src="{% static 'js/jquery.unveilEffects.js' %}"></script>
<script src="{% static 'js/retina-1.1.0.js' %}"></script>
<script src="{% static 'js/fhmm.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'fancyBox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
<script src="{% static 'js/bootstrap-fileupload.js' %}"></script>
{% block js %}

{% endblock %}

<!-- FlexSlider JavaScript
================================================== -->
<script src="{% static 'js/jquery.flexslider.js'%}"></script>
<script>
    $(window).load(function () {
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: true,
            directionNav: false,
            animationLoop: true,
            slideshow: true,
            itemWidth: 114,
            itemMargin: 0,
            asNavFor: '#slider'
        });

        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: false,
            slideshow: true,
            sync: "#carousel"
        });

        $('#property-slider .flexslider').flexslider({
            animation: "fade",
            slideshowSpeed: 6000,
            animationSpeed: 1300,
            directionNav: true,
            controlNav: false,
            keyboardNav: true
        });
    });
</script>

</body>

</html>