{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Login | Real Estate Admin Portal</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{% static 'falcon/assets/js/config.navbar-vertical.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'falcon/assets/lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'falcon/assets/css/theme.min.css' %}" rel="stylesheet">
</head>

<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main class="main" id="top">
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center no-gutters">
            <div class="col-lg-8 col-xxl-5 py-3"><img class="bg-auth-circle-shape" src="{% static 'falcon/assets/img/bg-shape.png' %}" alt="" width="250"><img class="bg-auth-circle-shape-2" src="{% static 'falcon/assets/img/shape-1.png' %}" alt="" width="150">
                {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <strong>Errors!!</strong> {{ message }}
                    {% endfor %}
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="font-weight-light" aria-hidden="true">×</span></button>
                </div>
                {% endif %}
                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row no-gutters h-100">
                            <div class="col-md-5 text-white text-center bg-card-gradient">
                                <div class="position-relative p-4 pt-md-5 pb-md-7">
                                    <div class="bg-holder bg-auth-card-shape" style="background-image:url({% static 'falcon/assets/img/half-circle.png' %});"></div>
                                    <!--/.bg-holder-->
                                    <div class="z-index-1 position-relative"><a class="text-white mb-4 text-sans-serif font-weight-extra-bold fs-4 d-inline-block" href="../../index.html">falcon</a>
                                        <p class="text-white opacity-75">With the power of Falcon, you can now focus only on functionaries for your digital products, while leaving the UI design on us!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <h3>Admin Login</h3>
                                    <form method="post">{% csrf_token %}
                                        <div class="form-group">
                                            <label for="card-email">Email address</label>
                                            <input class="form-control" value="{{ email }}" name="email" id="card-email" type="email" />
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <label for="card-password">Password</label>
                                                <a class="fs--1" href="../../authentication/card/forgot-password.html">Forgot Password?</a>
                                            </div>
                                            <input class="form-control" value="{{ password }}" name="password" id="card-password" type="password" />
                                        </div>
                                        <div class="custom-control custom-checkbox"><input class="custom-control-input" name="remember_me" type="checkbox" id="card-checkbox" {% if remember_me == 'on' %}checked="checked"{% endif %} /><label class="custom-control-label" for="card-checkbox">Remember me</label></div>
                                        <div class="form-group"><button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Log in</button></div>
                                    </form>
                                    {#                                    <div class="w-100 position-relative mt-4">#}
                                    {#                                        <hr class="text-300" />#}
                                    {#                                        <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or log in with</div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="form-group mb-0">#}
                                    {#                                        <div class="row no-gutters">#}
                                    {#                                            <div class="col-sm-6 pr-sm-1"><a class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span> google</a></div>#}
                                    {#                                            <div class="col-sm-6 pl-sm-1"><a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span> facebook</a></div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<script>
    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
    if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
    }
</script>

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'falcon/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'falcon/assets/js/popper.min.js' %}"></script>
<script src="{% static 'falcon/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'falcon/assets/lib/@fortawesome/all.min.js' %}"></script>
<script src="{% static 'falcon/assets/lib/stickyfilljs/stickyfill.min.js' %}"></script>
<script src="{% static 'falcon/assets/lib/sticky-kit/sticky-kit.min.js' %}"></script>
<script src="{% static 'falcon/assets/lib/is_js/is.min.js' %}"></script>
<script src="{% static 'falcon/assets/lib/lodash/lodash.min.js' %}"></script>
<script src="{% static 'falcon/assets/lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
<script src="{% static 'falcon/assets/lib/echarts/echarts.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
<script src="{% static 'falcon/assets/lib/progressbar.js/progressbar.min.js' %}"></script>
<script src="{% static 'falcon/assets/js/theme.min.js' %}"></script>
</body>

</html>