{% extends 'layouts/admin.html' %}
{% block page_title %}
    Web User Insights
{% endblock %}
{% block contents %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center justify-content-between">
                <div class="col-4 col-sm-auto d-flex align-items-center pr-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Customers</h5>
                </div>
                <div class="col-8 col-sm-auto text-right pl-2">
                    <div class="d-none" id="customers-actions">
                        <div class="input-group input-group-sm"><select class="custom-select cus" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select><button class="btn btn-falcon-default btn-sm ml-2" type="button">Apply</button></div>
                    </div>
                    <div id="customer-table-actions"><button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">New</span></button><button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Filter</span></button><button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Export</span></button></div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="falcon-data-table table-responsive">
                <table class="table table-sm mb-0 table-striped table-dashboard fs--1 data-table border-bottom border-200" data-options='{"searching":false,"responsive":false,"pageLength":12,"info":false,"lengthChange":false,"sWrapper":"falcon-data-table-wrapper","dom":"<&#39;row mx-1&#39;<&#39;col-sm-12 col-md-6&#39;l><&#39;col-sm-12 col-md-6&#39;f>><&#39;table-responsive&#39;tr><&#39;row no-gutters px-1 py-3 align-items-center justify-content-center&#39;<&#39;col-auto&#39;p>>","language":{"paginate":{"next":"<span class=\"fas fa-chevron-right\"></span>","previous":"<span class=\"fas fa-chevron-left\"></span>"}}}'>
                    <thead class="bg-200 text-900">
                    <tr>
                        <th class="align-middle no-sort pr-3">
                            <div class="custom-control custom-checkbox"><input class="custom-control-input checkbox-bulk-select" id="checkbox-bulk-customers-select" type="checkbox" data-checkbox-body="#customers" data-checkbox-actions="#customers-actions" data-checkbox-replaced-element="#customer-table-actions" /><label class="custom-control-label" for="checkbox-bulk-customers-select"></label></div>
                        </th>
                        <th class="align-middle sort">Name</th>
                        <th class="align-middle sort">Email</th>
                        <th class="align-middle sort">Phone</th>
                        <th class="align-middle sort pl-5" style="min-width: 200px;">Billing Address</th>
                        <th class="align-middle sort">Joined</th>
                        <th class="align-middle no-sort"></th>
                    </tr>
                    </thead>
                    <tbody id="customers">
                    {% for object in object_list %}
                        <tr class="btn-reveal-trigger">
                            <td class="py-2 align-middle white-space-nowrap">
                                <div class="custom-control custom-checkbox"><input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="customer-checkbox-0" /><label class="custom-control-label" for="customer-checkbox-0"></label></div>
                            </td>
                            <td class="py-2 align-middle white-space-nowrap customer-name-column">
                                <a href="{% url 'user:site-visitor' object.slug %}">
                                    <div class="media d-flex align-items-center">
                                        <div class="avatar avatar-xl mr-2">
                                            <div class="avatar-name rounded-circle">
                                                {% if object.profile %}
                                                    {{ object.profile.url }}
                                                {% else %}
                                                    <span>{{ object.first_name | slice:'1' }}{{ object.last_name | slice:'1' }}</span>
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="media-body">
                                            <h5 class="mb-0 fs--1">{{ object.get_full_name }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="py-2 align-middle"><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
                            <td class="py-2 align-middle white-space-nowrap"> <a href="{{ object.phone_number }}">{{ object.phone_number }}</a></td>
                            <td class="py-2 align-middle pl-5">{{ object.address }}</td>
                            <td class="py-2 align-middle">{{ object.date_joined.date }}</td>
                            <td class="py-2 align-middle white-space-nowrap">
                                <div class="dropdown text-sans-serif"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button" id="customer-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-0">
                                        <div class="bg-white py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}